
@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@600&family=Dongle&display=swap');

body {
    font-family: 'Asta Sans', sans-serif;
    font-weight: 600; /* wght@600을 불러왔으니 굵기 지정 */
    letter-spacing: 0.1em;
}

.button-wrapper{
    display: flex;
    width: 200px;
    margin: 0 auto;
}

.plot{
    box-shadow: 5px 5px 10px ;
}

.navigation-bar{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 10px;
    
    list-style: none;
}

.navigation-bar li {
    display: inline-block;   /* 각 항목을 가로로 */
    margin: 0 5%;          
}

.title-shadow{
    color: black;
    text-shadow: 2px 5px 4px red;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    text-align: center;
    padding: 10px 20px;
    border: 1px dotted black;
}
thead{
    background-color: green;
    color: white;
}
figure {
    text-align: center; /* figure 내부 컨텐츠를 가운데 정렬 */
}